[project]
	description = Open source card game
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mihai ciupina (mihai-ciupina)
[access "refs/for/refs/*"]
	read = group user/mihai ciupina (mihai-ciupina)
	push = group user/mihai ciupina (mihai-ciupina)
	label-Code-Review = -2..+2 group user/mihai ciupina (mihai-ciupina)
	label-Verified = -1..+1 group user/mihai ciupina (mihai-ciupina)
	rebase = group user/mihai ciupina (mihai-ciupina)
	removeReviewer = group user/mihai ciupina (mihai-ciupina)
	submit = group user/mihai ciupina (mihai-ciupina)
[access "refs/heads/*"]
	read = group user/mihai ciupina (mihai-ciupina)
	create = group user/mihai ciupina (mihai-ciupina)
	push = +force group user/mihai ciupina (mihai-ciupina)
	pushMerge = group user/mihai ciupina (mihai-ciupina)
[access "refs/tags/*"]
	push = +force group user/mihai ciupina (mihai-ciupina)
	pushTag = group user/mihai ciupina (mihai-ciupina)
	pushSignedTag = group user/mihai ciupina (mihai-ciupina)
